# permissions for end users to view loggerservices.
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: loggerservice-viewer-role
rules:
- apiGroups:
  - managed.openshift.io
  resources:
  - loggerservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - managed.openshift.io
  resources:
  - loggerservices/status
  verbs:
  - get
