# permissions for end users to view loggers.
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: logger-viewer-role
rules:
- apiGroups:
  - managed.openshift.io
  resources:
  - loggers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - managed.openshift.io
  resources:
  - loggers/status
  verbs:
  - get
